@import "tailwindcss";
@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

@theme {
  --color-border: var(--border);
  --color-input: var(--input);  
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius: 0.5rem;
}

:root {
  --radius: 0.625rem;
  
  /* Light theme colors */
  --background: oklch(1 0 0);
  --foreground: oklch(0.391 0.032 278.77);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.391 0.032 278.77);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.391 0.032 278.77);
  --primary: oklch(0.682 0.186 243.2);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.964 0.004 260.41);
  --secondary-foreground: oklch(0.469 0.022 278.24);
  --accent: oklch(0.969 0.027 254.94);
  --accent-foreground: oklch(0.391 0.032 278.77);
  --muted: oklch(0.976 0.006 262.6);
  --muted-foreground: oklch(0.617 0.034 265.2);
  --destructive: oklch(0.572 0.224 27.92);
  --destructive-foreground: oklch(1 0 0);
  --success: oklch(0.656 0.196 145.8);
  --success-foreground: oklch(0.656 0.196 145.8);
  --info: oklch(0.679 0.181 239.3);
  --info-foreground: oklch(0.679 0.181 239.3);
  --warning: oklch(0.839 0.233 87.7);
  --warning-foreground: oklch(0.839 0.233 87.7);
  --border: oklch(0.917 0.009 264.6);
  --input: oklch(0.917 0.009 264.6);
  --ring: oklch(0.391 0.032 278.77);

  
  /* Chart colors */
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

.dark {
  /* Dark theme colors */
  --background: oklch(0.233 0.049 276.8);
  --foreground: oklch(0.984 0.003 262.3);
  --card: oklch(0.271 0.042 278.3);
  --card-foreground: oklch(0.984 0.003 262.3);
  --popover: oklch(0.271 0.042 278.3);
  --popover-foreground: oklch(0.984 0.003 262.3);
  --primary: oklch(0.749 0.225 241.2);
  --primary-foreground: oklch(0.278 0.052 250.8);
  --secondary: oklch(0.376 0.039 276.2);
  --secondary-foreground: oklch(0.942 0.006 260.8);
  --accent: oklch(0.446 0.035 278.6);
  --accent-foreground: oklch(1 0 0);
  --muted: oklch(0.376 0.039 276.2);
  --muted-foreground: oklch(0.714 0.023 264.2);
  --destructive: oklch(0.705 0.232 27.5);
  --destructive-foreground: oklch(1 0 0);
  --success: oklch(0.741 0.206 142.8);
  --success-foreground: oklch(0.973 0.007 158.6);
  --info: oklch(0.76 0.217 243.2);
  --info-foreground: oklch(0.961 0.016 248.1);
  --warning: oklch(0.873 0.222 87.2);
  --warning-foreground: oklch(0.979 0.018 97.3);
  --border: oklch(0.446 0.035 278.6);
  --input: oklch(0.446 0.035 278.6);
  --ring: oklch(0.984 0.003 262.3);
  
  /* Chart colors for dark mode */
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}